body {
  font-family: sans-serif;
  background-color: #040404;
  color: #fff;
  position: relative;
  background: transparent;
}

body::before {
  content: "";
  position: fixed;
  background: #040404 top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

a {
  color: blue;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

a:hover {
  color: purple;
  text-decoration: underline;
}

#landing {
  width: 100%;
  height: 100vh;
  background: url("https://images.pexels.com/photos/3648850/pexels-photo-3648850.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500") top right;
  background-size: cover;
  position: relative;
}

#landing::before {
  content: "";
  background: rgba(0, 0, 0, 0.45);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#landing .landing-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15px;
}

#landing .landing-container .intro-subtitle {
  font-weight: 100;
  font-family: sans-serif;
  text-transform: none;
}

#landing h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #fff;
}

#landing h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#landing .btn-scroll {
  -webkit-transition: .5s;
  transition: .5s;
  color: blue;
}

#landing .btn-scroll i {
  font-size: 48px;
}

#landing .btn-scroll:hover {
  color: purple;
}

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 500;
  font-family: sans-serif;
  color: #fff;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: lightgray;
}

.skills .progress-bar {
  height: 10px;
  background: -webkit-gradient(linear, left top, right top, from(blue), to(purple));
  background: linear-gradient(to right, blue, purple);
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid blue;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: sans-serif;
  color: blue;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: rgba(255, 255, 255, 0.2);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 0;
}

.resume .resume-item ul img {
  width: 20px;
  height: 20px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: purple;
  border: 2px solid blue;
}

.resume .section-title {
  text-align: center;
}

.resume .row img {
  width: 20px;
  height: 20px;
}

.text-slider-items {
  display: none;
}

.about-img {
  position: relative;
  border: 1px solid blue;
  border-radius: 4px;
  padding: 10px;
  width: 250px;
  margin: auto;
  left: 380px;
}

.about-info {
  position: relative;
  left: 200px;
  margin: auto;
  padding: auto;
}

img:hover {
  -webkit-box-shadow: 0 0 2px 1px purple;
          box-shadow: 0 0 2px 1px purple;
}

.image {
  margin-right: 10px;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1500px) {
  .about-img {
    position: relative;
    border: 1px solid blue;
    border-radius: 4px;
    padding: 10px;
    width: 250px;
    margin: auto;
    left: auto;
  }
  .about-info {
    position: relative;
    left: auto;
    margin: auto;
    padding: auto;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    text-align: center;
    float: left;
  }
}

.dropdown-menu img {
  width: 20px;
  height: 20px;
}

.contact {
  height: 150px;
  padding: auto;
  margin: auto;
}

.contact h1 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

.contact ul {
  text-align: center;
}

.contact ul img {
  border: solid 10px red;
  width: 80px;
  height: 50px;
  padding: auto;
  margin: auto;
}

.contact ul img:hover {
  border: purple;
}

footer {
  height: 50px;
  text-align: center;
  padding: 3px;
  width: 100px;
  background-color: #071B8C;
  color: white;
}
/*# sourceMappingURL=style.css.map */